*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family:  Lato , sans-serif;
}

body{
    background-color: #eedbff;
}

/* COMIENZA MI CSS GLOBAL */

#blur {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

.container-global{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.caja1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 41.5%;
    margin-top: 2em;
    border: 1px solid #000;
    background-color: #fff;
}

.caja2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 85%;
    margin-bottom: 2em;
    border: 1px solid #000;
    background-color: #fff;
    
}

.titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 1em 2em 1em 2em;
    background-color: #8633cf;
}

.botones{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 1em;
    background-color: #c5a0e5;
}

/* TERMINA MI CSS GLOBAL */

.ventas-sucursal{
    margin-right: .85em;
}

.reportes{
    margin-left: .85em;
}

.ventas{
    margin-top: 1.5em;
}

/*************************************************/

.lista-sucursal{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap; 
    width: 100%;
    padding: 1em;
}

.datos-reportes{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 1em;
}

.datos-reportes > p{
    text-align: left;
    padding: 1.22em;
}

.lista-ventas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 1em;
}

/*************************************************/

/* COMIENZA ESTILO DE TABLAS */

table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
} 

th, td{
    border-bottom: 1px solid #a15fdb;
    padding: .5em;
}

th{
    padding-bottom: 1em;
}

tr:hover td{
    background-color: #a15fdb2f;
}

/* TERMINA ESTILO DE TABLAS */

/*************************************************/

/* COMIENZA ESTILO DE BOTONES */

#btn-venta{
    background-color: #a15fdb;
    border: none;
    padding: .6em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color, .4s;
}

#btn-venta:hover{
    background-color: #b67de7;  
}

/***********************************/

.btn-editar{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #54b864;
    padding: .5em;
}

.btn-editar:hover {
    color: #03941b;
}

.btn-borrar {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #e70000;
    padding: .5em;
}

.btn-borrar:hover {
    color: #ff0000;
}

/***********************************/

.btn-cancelar{
    background-color: #f3e7fd;
    border: none;
    padding: .6em;
    margin-right: .5em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color, .4s;
}

.btn-cancelar:hover{
    background-color: #ffffff;  
}

.btn-guardar{
    background-color: #71cc69;
    border: none;
    padding: .6em;
    margin-left: .5em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color, .4s;
}

.btn-guardar:hover{
    background-color: #4bc740;
}

/***********************************/

.btn-eliminar{
    background-color: #c74141;
    border: none;
    padding: .6em;
    margin-left: .5em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color, .4s;
}

.btn-eliminar:hover{
    background-color: #b80f0f;
}

/* TERMINA ESTILO DE BOTONES */

/*************************************************/

/* COMIENZA ESTILO DE FORMULARIOS */

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
}

form > label{
    margin: 1em 0em;
}

form > select{
    width: 80%;
    border: 1px solid #000;
    padding: .5em;
    background-color: #efe0fc;
}

form > input{
    width: 80%;
    border: 1px solid #000;
    padding: .5em;
    margin-bottom: 2em;
    background-color: #efe0fc;
}

/* .input-fecha{
    width: 80%;
    border: 1px solid #000;
    padding: .5em;
    margin-bottom: 2em;
    background-color: #efe0fc;
} */

/* TERMINA ESTILO DE FORMULARIOS */

/*************************************************/

.texto-eliminar-venta{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
}

.texto-eliminar-venta > h2{
    margin: 1em;
    color: #8633cf;
}

.texto-eliminar-venta > p{
    margin: 0em 0em 1em 1.5em;
    color: #000;
}

/***********************************/

/* COMIENZA ESTILO DE MIS MODALES */

.modal-agregar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap; 
    width: 40%;
    padding: 1em;
}

.modal-editar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap; 
    width: 40%;
    padding: 1em;
}

.modal-eliminar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap; 
    width: 35%;
    padding: 1em;
}

/***********************************/

.agregar-venta{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #0000006e;
}

.editar-venta{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #0000006e;
}

.eliminar-venta{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap; 
    width: 100%;
    height: 100vh;
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #0000006e;
}
 
/* TERMINA ESTILO DE MIS MODALES */

/* RESPONSIVE */

@media screen and (max-width: 862px) {
    .caja1 {
        width: 85%;
    }

    .reportes{
        margin-left: 0;
    }

    .ventas-sucursal {
        margin-right: 0;
    }

    .tabla-grande{
        display: block;
        height: 400px;
        overflow-x:auto;
    }
    
    .tabla-grande {
        display: block;
    }

    .tabla-grande tbody td,
    .tabla-grande thead th{
        width: 16%;
    }
}

@media screen and (max-width: 616px) {
    .caja1 {
        width: 85%;
    }

    .reportes{
        margin-left: 0;
    }

    .ventas-sucursal {
        margin-right: 0;
    }

    .tabla-grande {
        display: block;
        height: 350px;
        overflow-x:auto;
    }

    .tabla-grande tbody td{
        font-size: 1em;
    }

    .tabla-grande thead th{
        font-size: .8em;
    }
}

@media screen and (max-width: 504px) {
    .caja1 {
        width: 85%;
    }

    .reportes{
        margin-left: 0;
    }

    .ventas-sucursal {
        margin-right: 0;
    }

    .tabla-grande{
        display: block;
        height: 350px;
        overflow-x:auto;
    }

    .tabla-grande tbody td{
        font-size: 1em;
    }

    .tabla-grande thead th{
        font-size: 1em;
    }
}

@media screen and (max-width: 436px) {
    .caja1 {
        width: 85%;
    }

    .reportes{
        margin-left: 0;
    }

    .ventas-sucursal {
        margin-right: 0;
    }

    .tabla-grande {
        display: block;
        height: 300px;
        overflow-x:auto;
    }

    .tabla-grande tbody td{
        font-size: .9em;
    }

    .tabla-grande thead th{
        font-size: .9em;
    }
}


@media screen and (max-width: 400px) {
    .caja1 {
        width: 85%;
    }

    .reportes{
        margin-left: 0;
    }

    .ventas-sucursal {
        margin-right: 0;
    }

    .tabla-grande {
        display: block;
        height: 300px;
        overflow-x:auto;
    }

    .tabla-grande tbody td{
        font-size: .8em;
    }

    .tabla-grande thead th{
        font-size: .8em;
    }
}